.item{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    img{
        margin-right: 15px;
        width: 48px;
        height: 48px;
    }
    p {
        margin: 0px;
        padding: 0px;
        color : #7c7c7c;
    }
}